[program:gunicorn]
command={{ virtualenv_dir }}/bin/gunicorn snapwagon.wsgi:application -c {{ deploy_dir }}/gunicorn.conf.py
directory={{ source_dir }}/snapwagon
user=nobody
autostart=true
autorestart=true
stdout_logfile=/var/log/supervisor/snapwagon.stdout.log
stderr_logfile=/var/log/supervisor/snapwagon.stderr.log
