import multiprocessing

bind = 'unix:///tmp/{{ inventory_hostname }}.socket'
raw_env = [
    'DATABASE_NAME={{ database_name }}',
    'DATABASE_USER={{ database_user }}',
    'DATABASE_PASS={{ database_pass }}',
    'DJANGO_SETTINGS_MODULE=settings.prod',
    'STRIPE_API_KEY={{ stripe_api_key }}',
    'SPARKPOST_API_KEY={{ sparkpost_api_key }}',
]
timeout = 30
workers = multiprocessing.cpu_count() * 2 + 1