server {
    listen 80;
    server_name {{ inventory_hostname }};

    location /media {
        alias /home/parentj/sites/{{ inventory_hostname }}/media;
    }

    location /static {
        alias /home/parentj/sites/{{ inventory_hostname }}/static;
    }

    location / {
        proxy_set_header Host {{ inventory_hostname }};
        proxy_pass http://unix:/tmp/{{ inventory_hostname }}.socket;
    }

    listen 443 ssl;
    ssl_certificate /etc/letsencrypt/live/snapwagon.io/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/snapwagon.io/privkey.pem;
    include /etc/letsencrypt/options-ssl-nginx.conf;

    if ($scheme != "https") {
        return 301 https://$host$request_uri;
    }
}
