server {
    listen 80;
    server_name {{ inventory_hostname }};

    location /media {
        alias /home/parentj/sites/{{ inventory_hostname }}/media;
    }

    location /static {
        alias /home/parentj/sites/{{ inventory_hostname }}/static;
    }

    location / {
        proxy_set_header Host {{ inventory_hostname }};
        proxy_pass http://unix:/tmp/{{ inventory_hostname }}.socket;
    }
}
